/* CSS Document */


.label {
	font-size: 14px;
	color:#666;
	vertical-align: top !important;
	padding: 6px 10px 6px 0;
 	font-weight: 600;
}

.body-form-area .label {
	padding-top: 15px !important;
}

.body-form-area {
	height:calc(80vh - 120px) !important;
	padding:15px !important; 
	vertical-align: top;
}


.body-form-area  table {
	width: 100%;
}

.body-form-area > table > tbody td {
	padding: 5px;
	vertical-align: top;
}

.body-form-area > table > tbody > tr > td:first-child {
	
}
.body-form-area > table > tbody > tr > td:first-child:not(.long) {
	white-space:nowrap;
}

.body-form-area input[type=text]:not(.drop-down), .body-form-area textarea, .body-form-area input[type=password] {
	width: 97%;
}
.body-form-area input[type=text].drop-down {
	width: calc(100% - 10px);
}

input[name=current_price] {
	font-size:24px;
	line-height: 1;
	color:#1f2328;
	font-weight: 600;
}


.body-form-area select {
	width: calc(100% + 12px);
}

.filefield {
	background: url(../../assets/images/file_field_icon.png) no-repeat calc(100% - 10px) center #FFF;
	padding-right: 40px;
	width: calc(100% - 33px) !important;
}

.add-icon {
	background: url(../../assets/images/add_icon.png) no-repeat center center;
	width: 40px;
	height: 40px;
	cursor: pointer;
}

.question-icon {
	background: url(../../assets/images/question_icon.png) no-repeat center center;
	width: 40px;
	height: 40px;
	cursor: pointer;
}