/* CSS Document */


/* BASIC HTML ELEMENTS */
html, body {
    height: 100%;
	font-size:15px;
	font-family: Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    font-weight:200;
	margin: 0px;
	padding: 0px;
	display: grid;
	color: #1f2328;
}

input[type=text], input[type=password], textarea, .textfield {
	border: 1px solid #ABB5C0;
	padding:8px 8px 8px 8px;
	font-size: 15px;
    color:#333333;
	background-color: #F9F9FA;	
	border-radius: 5px;
	box-sizing: border-box;
	-webkit-appearance: none; /* remove shadows added by mobile browser */
}

.green_text {
	color: #090;
}

.red_text {
	color:#F41351;
}

.clearfix {
	clear: both;
}

.view_icon>div {
	max-width: 40px;
	height: auto;
	background: url(../../assets/images/view.png) no-repeat center;
}


/* Customize the label (the container) fancy checkboxes */
label.container {
  display: inline;
  position: relative;
  padding-left: 25px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 15px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
label.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 15px;
  width: 15px;
  background-color: #eee;
}


/* On mouse-over, add a grey background color */
label.container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
label.container.yes input:checked ~ .checkmark {
  background-color: #090;
}

label.container.no input:checked ~ .checkmark {
  background-color: #F41351;
}

label.container.no {
	margin-left: 22px;
}

label.container.no span.checkmark {
	border: solid #F41351;
}

label.container.yes span.checkmark {
	border: solid #090;
}


/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
label.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
label.container .checkmark:after {
  left: 50%;
  top: 50%;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg) translate(-100%,-25%);
  -ms-transform: rotate(45deg) translate(-100%,-25%);
  transform: rotate(45deg) translate(-100%,-25%);
}

textarea {
	font-size:15px;
	font-family: Arial, sans-serif;
}


.drop-down {
	border: 1px solid #DDDDDD;
	padding:7px 20px 7px 6px;
	font-size: 15px;
    color:#999999;
	-webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: url(../../assets/images/down_arrow_grey.png) no-repeat right center  rgba(255, 255, 255, .99) !important;
}

.drop-down.small {
	font-size:12px; 
	padding: 5px 20px 5px 5px;
}


.drop-down.hide-icon {
	padding:8px;
	background: none !important;
}


.drop-down:hover, .drop-down:focus {
	color:#333333;
}

.drop-down-link {
	padding-right: 25px;
	background: url(../../assets/images/down_arrow_grey.png) no-repeat right center;
}


.valid {
	background: url(../../assets/images/correct.png) no-repeat right center;
}


.invalid {
	background: url(../../assets/images/wrong.png) no-repeat right center;
}



/* LINKS */
a {
	font-family: Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    font-weight:100;
	text-decoration: none;
	color:#2DA0D1;
}


a:hover {
	color:#2DA0D1;
	text-decoration:underline;
}

.bold {
	font-weight: 700;
}


.error {
	padding:5px;
	font-weight:bold;	 
	background-color: #FFE79B;
	text-align:left;
	color: #FF0000;
}

.border-warning {
	border: 1px solid orange !important;
}

a.error {
	font-weight: bold;
	color: #FF0000;
}


.message{
	padding:5px;
	font-weight:bold;	 
	background-color: #FFE79B;
	text-align:left;
	color:#009933;
}

.read-only {
	font-weight: 700;
}


.pagemessage {
	font-family: Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif;
    -webkit-font-smoothing: antialiased;
	padding:10px 30px 10px 30px;
	font-size: 15px;
    color:#000;
	font-weight:bold;
	-webkit-box-shadow: 0px 2px 8px #999;
	-moz-box-shadow: 0px 2px 8px #999;
	box-shadow: 0px 2px 8px #999; 
	position: fixed;
	top: 0px;
	border-radius: 0px 0px 5px 5px;
	-moz-border-radius: 0px 0px 5px 5px;
	background-color: #FFE79B;
	max-width: 70%;
	text-align:center;
	z-index: 1500;
	left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
	display:none;
}

.pagemessage table td {
	font-family: Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif;
    -webkit-font-smoothing: antialiased;
	font-size: 15px;
	text-align:center;
	
}







/* FONT SIZES */
.h1, .h1 > a {
	font-size: 70px;
	font-weight: 900;
	font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
}

.h2, .h2 > a {
	font-size: 36px;
	font-weight: 700;
	letter-spacing: -1px;
}

.h3, .h3 > a {
	font-size: 26px;
	font-weight: 700;
}

.h4, .h4 > a {
	font-size: 14px;
}

.h5, .h5 > a {
	font-size: 12px;
}

.h6, .h6 > a {
	font-size: 10px;
}

.admin_dashboard {
	font-family: poppins, sans-serif !important;
	font-weight: 400;
}



/* COLORS */
.blue {
	color: #010166;
}

.dark-grey {
	color: #666666;
}





/* BACKGROUNDS */
.white-bg {
	background-color: #FFF;
}
.light-grey-bg {
	background-color: #F9F9F9;
}

.black-bg {
	background-color: #0D1116;
	color: #FFF;
}

.black-bg a {
	color: #999;
}

.purple-bg {
	background-color: #010066;
	color: #FFF;
	font-weight:bold;
}

.purple-bg .active {
	color: #FFFF00;
	background: url(../../assets/images/stripped_purple.png) repeat-x;
}

.trigger-search {
	background: url(../../assets/images/search_icon_white.png) no-repeat calc(100% - 10px) 5px;
	cursor: pointer;
	min-width: 100px;
	width: 100%;
	height: 30px;
	margin: 5px;
	border-bottom: 1px solid rgba(255,255,255,.0);
}

.trigger-search:hover {
	border-bottom: 1px solid #F9F9F9;
}

.dark-green-bg {
	background-color: #758B33;
	color: #FFF;
}

.water-mark-bg {
	background: #F9F9F9;
}

.grey-menu-bg {
	background-color: #EDEDED;
	color: #010166;
	font-weight:bold;
}

.grey-menu-bg .active {
	color: #FFF;
	background: url(../../assets/images/stripped_grey.png) repeat-x;
}



.stripped-black {
	background: url(../../assets/images/stripped_black.png) repeat-x left center;
	padding: 15px;
	color: #FFF;
	font-weight: 700;
	width: calc(100% - 30px);
}

.center-block {
	display: inline-block;
    
	width: 30%;
	min-width: 240px;
	min-height: 200px;
}

.center-block:not(.left-div):not(.right-div) {
	margin-left: auto;
    margin-right: auto;
	text-align:center;
}


.calendar {
	background: url(../../assets/images/calendar_icon.png) no-repeat right center #F9F9F9;
	padding-right: 40px;
	width: 188px;
}


/* OTHER */

.fill-page {
	height:calc(90vh - 100px); 
	padding-bottom: 20px;
}

.body-table {
	min-height: 100vh;
	width: 100%;
	border-collapse:collapse;
}

.body-table td {
	padding: 0px;
	margin: 0px;
	border: 0px;
}

.body-table > tbody > tr > td:first-child, .body-table > tbody > tr > td:last-child {
	width: 3%;
}

.body-table > tbody > tr > td:nth-child(2) {
	width: 94%;
	max-width: 1400px;
}

.left-div {
	float: left;
	text-align:left;
}

.right-div {
	float: right;
	text-align:right;
}

.row-divs > div, .top-divs > div {
	display: inline-block;
}

.row-divs.small-padding > div  {
	padding: 6px 3px;
	margin: 5px;
}
.small-div-padding, .top-divs > div  {
	padding: 6px 15px;
	margin: 5px;
}

.top-divs > div {
	cursor: pointer;
}

.three-columns, .two-columns {
	vertical-align: top;
}

.three-columns > div, .two-columns > div {
	display: inline-block;
	vertical-align: top;
	min-width: 220px !important;
}
.three-columns > div:first-child {
	width: calc(33% - 10px);
	margin-right: 10px;
}
.three-columns > div:nth-child(2) {
	width: calc(33% - 20px);
	margin-left: 10px;
	margin-right: 10px;
}
.three-columns > div:last-child {
	width: calc(33% - 10px);
	margin-left: 10px;
}

.two-columns > div:first-child {
	width: calc(50% - 10px);
	margin-right: 10px;
}
.two-columns > div:last-child {
	width: calc(50% - 10px);
	margin-left: 10px;
}


.two-fields {
	vertical-align: top !important;
}
.two-fields > div {
	display: inline-block !important;
	vertical-align: top !important;
}

.two-fields > div input {
	width: calc(100% - 23px) !important;
}
.two-fields > div textarea {
	width: calc(100% - 28px) !important;
}
.two-fields > div select {
	 width: calc(100% - 5px) !important;
}
.two-fields > div:first-child {
	width: calc(50% - 30px);
	margin-right: 10px;
}
.two-fields > div:last-child {
	width: calc(50% - 30px);
	margin-left: 10px;
} 

.two-columns.multiple > div:nth-child(even) {
	width: calc(50% - 30px);
	margin-right: 10px;
	margin-top: 20px;
}
.two-columns.multiple > div:nth-child(odd) {
	width: calc(50% - 30px);
	margin-left: 10px;
	margin-top: 20px;
}

.one-column {
	vertical-align: top;
	padding-top: 15px !important;
}

.one-column .list-tabs > tbody > tr > td:not(:last-child) {
	width: 1%;
	white-space:nowrap;
}


.summary-table {
	width: 100%;
	min-width: 240px;
}
.summary-table > tbody > tr > th {
	width: 100%;
	background-color: #EBEBEB;
	padding: 15px 10px;
	text-align:left;
}
.summary-table > tbody > tr > td {
	padding: 10px;
	text-align:left;
	background-color: #FFF;
	border-bottom: 1px solid #EBEBEB;
}

.summary-table > tbody > tr > td > a:before, .list-item > a:before {
	content: '\2022  ';
	color: #000;
}

.summary-table > tbody > tr > td:last-child {
	border-bottom: 0px;
}

.summary-table a {
	color: #111;
	text-decoration: none;
	font-weight: 700;
}
.summary-table a:hover {
	text-decoration: none;
}

.body-table-border {
	border-collapse:collapse;
	border: 1px solid #999;
	border-top: 5px solid #999;
	background-color: #F8F8F8;
}


.default-table {
    min-width: 0;
    display: table;
	text-align:left;
	border-collapse: collapse;
}
.default-table td {
	padding: 0px;
	margin: 0px;
	border: 0px;
}

.content-div {
	width: calc(43% - 30px) !important;
	margin-right: 10px;
	padding: 15px 10px;
    text-align:left;
	font-size:12px;
}


.btn, .remove-plan-item, .add-plan-item {
	cursor: pointer;
}

button.btn {
	font-size: 20px;
	padding: 6px 15px 6px 15px;
	cursor: pointer;
	min-width: 150px;
	text-decoration:none;
}


button.smallbtn {
	font-size: 15px;
	padding: 3px 8px 3px 8px;
	cursor: pointer;
	min-width: 70px;
	text-decoration:none;
}

button.btn.green, button.smallbtn.green {
	color: #FFF;
	background-color: #18C93E;
	border: solid 1px #18C93E;
}


button.btn.blue, button.smallbtn.blue {
	color: #FFF;
	background-color: #2DA0D1;
	border: solid 1px #2DA0D1;
}


button.btn.purple, button.smallbtn.purple {
	color: #FFF;
	background-color: #8566AB;
	border: solid 1px #8566AB;
}


button.btn.grey, button.smallbtn.grey {
	color:#666;
	background-color: #CCC;
	border: solid 1px #CCC;
}


.center {
	margin: 0 auto;
	text-align:center;
}
.center > div {
	display:inline-block;
}



.normal-table {
	width: 100%;
}

.normal-table td {
	padding: 5px;
}

.top-grey-border {
	border-top: 1px solid #33363A !important;
}


.white-link-divs > div {
	vertical-align:center;
	padding: 10px 5px;
	margin:5px 0 5px 0;
}

.white-link-divs > div:not(.ignore-border) {
	border-right: 1px solid #33363A;
}

.white-link-divs > div.ignore-border {
	margin: 0;
}

.white-link-divs > .btn {
	padding:5px;
	vertical-align: bottom;
}

.align-right {
	text-align: right;
}


.tender-icon {
	background: url(../../assets/images/tender_icon.png) no-repeat left center;
}
.rop-icon {
	background: url(../../assets/images/rop_icon.png) no-repeat left center;
}
.resources-icon {
	background: url(../../assets/images/resources_icon.png) no-repeat left center;
}
.forums-icon {
	background: url(../../assets/images/forums_icon.png) no-repeat left center;
}

.delete_icon {
	background: url(../../assets/images/lite_blue_closer.png) no-repeat left center;
}


.show-on-mobile {
	display:none;
}
.hide-on-mobile {
	display:block;
}






.pdf-icon-row {
	background: url(../../assets/images/pdf_icon.png) no-repeat 2px 5px;
	padding-left: 25px !important;
}
.msppt-icon-row {
	background: url(../../assets/images/ppt_icon.png) no-repeat 2px 5px;
	padding-left: 25px !important;
}
.msdoc-icon-row {
	background: url(../../assets/images/msword_icon.png) no-repeat 2px 5px;
	padding-left: 25px !important;
}
.msxls-icon-row {
	background: url(../../assets/images/msexcel_icon.png) no-repeat 2px 5px;
	padding-left: 25px !important;
}
.file-icon-row {
	background: url(../../assets/images/file_icon.png) no-repeat 2px 5px;
	padding-left: 25px !important;
}

.grey-box {
	display: inline-block;
	background-color: #CCC;
	color: #FFF;
	padding: 5px;
	font-size: 11px;
	font-weight: bold;
	margin-top: 3px;
	margin-bottom: 3px;
	text-transform: capitalize;
}

.blue-box {
	display: inline-block;
	background-color: #2C9FD1;
	color: #FFF;
	padding: 5px;
	font-size: 11px;
	font-weight:bold;
	margin-top: 3px;
	margin-bottom: 3px;
}

a.blue-box:hover{
	color:#FFF !important;
}

.green-box {
    display: inline-block;
	background-color: #5cb85c;
	color: #FFF;
	padding: 5px;
	font-size: 11px;
	font-weight: bold;
	margin-top: 3px;
	margin-bottom: 3px;
	text-transform: capitalize;
}

.orange-box {
    display: inline-block;
	background-color: #f0ad4e;
	color: #FFF;
	padding: 5px;
	font-size: 11px;
	font-weight: bold;
	margin-top: 3px;
	margin-bottom: 3px;
	text-transform: capitalize;
}


.user-photo {
	margin-right: 10px;
	height: 41px;
	width: 41px;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	border: 2px solid #FFF;
	background-size:cover !important;
}


.large-user-photo {
	margin-right: 10px;
	height: 150px;
	width: 150px;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	border: 2px solid #FFF;
	background-size:cover !important;
}


.picture-div, .product_photo {
	padding: 10px;
	text-align:center;
	display: inline;
}

.product_photo img.thumb {
	max-width: 100%;
	max-height: 100%;
}

.picture-div img {
	margin-bottom: 10px;
}

.picture-div .name {
	font-size: 13px;
	color: #999;
	font-weight: 800;
}

.picture-div .caption {
	font-size: 12px;
	font-style:italic;
}

.body-title {
	font-size: 26px;
	font-weight: 700;
	color: #010166;
	padding-top: 15px;
	padding-bottom: 15px;
}

.manage_product_photos { width: 100%; }

.manage_product_photos div>div { position:absolute; cursor:pointer; z-index: 1000; }

.manage_product_photos div .sort_instr, .manage_product_photos div .view_photo, .manage_product_photos div .delete_photo { display: none; z-index: 3000; }

.manage_product_photos div .sort_instr { padding: 5px; top: 50%; left: 50%; transform: translate(-50%,-50%)}

.manage_product_photos div .view_photo { padding: 5px; bottom: 0; left: 40%; color:#e1f1fd; font-weight: 600; }

.manage_product_photos div .view_photo a { color:#e1f1fd !important;  }

.manage_product_photos div .delete_photo { width:45px; height: 45px; right: 0; top:0; }

.manage_product_photos>div { display: inline-block; position:relative; color: #fff; margin: 2px 3px 2px}

.manage_product_photos>div img { height: 150px; width: auto; }

.product_photo, .product_basic_details, .product_price, .product_actions {
	display: inline-block;
	vertical-align: middle;
}


.product_price {
	font-size: 20px;
	line-height:28px;	
	font-weight: 700;
	padding:1%;
	width: 20%;
	text-align:right;
}

#product-list .product_photo {
	width:10% !important;
	height: 80px;
}


.product_photo {
	width:100px;
	height: 80px;
}


.product_basic_details {
	width:50%;
}


.product_actions {
	width:10%;
}

.status_type_container {
	width: 100%;
}

.status_type_container>ul {
	width: 40%;
	list-style: none;
	display: inline-block;
	vertical-align: top;
	margin:0;
	padding: 0;
	margin-right: 2em;
}

.status_type_container>ul li label {
	padding: 0.7em 1em;
	border-top: 1px solid #abb5c0;
	cursor: pointer;
	position: relative;
	text-align: left;
	display: flex;
	z-index: 1000;
}

.active_status {
	background: #D9E1EA;
}

.status_type_container>ul li label:focus {
	background: #D9E1EA;
}

.status_type_container>ul li span {
	vertical-align: center;
}

.status_type_container>ul li input {
	position:  absolute;
	top: 50%;
	right: 8px;
	transform: translateY(-50%);
	z-index: 100;
	cursor: pointer;
}

.status_type_container>ul li:first-child {
	font-weight: bold;
	padding-left: 0.2em;
	border-top: none;
	cursor: auto;
}

.status_type_container>ul li:nth-child(2) label {
	border-top: none;
}

.update_status_actions {
	margin-top: 10px;
	width: 100%;
}

.update_status_actions>div {
	width: 40%;
	display: inline-block;
}

.overlay {
	cursor:grab;
	background:#000;
	opacity: 1;
	z-index:2000;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    box-sizing: border-box;
    background: rgba(0,0,0,0.45);
    color: #fff;
    transition: opacity .2s;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-size: 12px;
    line-height: 18px;
	cursor:grab;
	border: solid 1px #C5CCD3;
}


.form_section {
	width: 100%;
	background: #FFF;
	border-radius:9px;
	margin-bottom:16px;
    position: relative;
    box-sizing: border-box;
    margin-bottom: 16px;
    padding: 0;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1),0 0 0 rgba(0,0,0,0.08) inset;
    transition: box-shadow .2s linear, border-color .2s linear, background-color .2s linear;
}

.form_section_paddings {	
	padding:2% 3%;
}

#paginationdiv__catalog_list .product_title {
	font-weight: bold;
	padding:5px 0;
	font-size: 13px;
}


.product_basic_details .on_status, .product_basic_details .stock_status {
	padding: 1% 3% 1% 0;
}

.product_basic_details .on_status img {
	vertical-align: middle;
	margin-right: 3px;
} 

.body-content {
	text-align: justify;
	width: 100%;
	max-width: 1300px;
}

.admin_dashboard .left_panel, .admin_dashboard .right_panel {
	display: inline-block;
	vertical-align: top;
}

.admin_dashboard h2, .admin_dashboard h3 {
	font-weight: 600 !important;
}

.admin_dashboard .left_panel {
	width: 30%;
	margin-right: 10px;
}

.admin_dashboard .right_panel {
	width: 60%;
}

.stat_header {
	font-size: 16px;
	font-weight: normal;
	margin-right: 5px;
}

.stat_value {
	font-weight: 600;
	font-size: 32px;
	vertical-align:middle;
}

.stat_value>span {
	font-size: 30px;
}

.stats_customers .stat_value {
	color: #010066;
}

.stats_orders .stat_value  {
	color: #FABB57;
}

.stats_fulfilled_orders .stat_value  {
	color: #2A875C;
}

.stats_products .stat_value {
	color: #7a2c9e;
}

ul.store_overview_stats {
	list-style: none;
	padding: 0 !important;
}

ul.store_overview_stats li {
	display: inline-block;
	padding: 1em 1.5em;
	vertical-align: top;
	border-right:1px solid #EEE9F0;
	min-width:15%;
}

ul.store_overview_stats li:last-child {
	border-right:none;
}

ul.store_overview_stats li>div{
	display: inline-block;
}

ul.todo {
	list-style: none;
	padding: 0 !important;
}

ul.todo li {
	padding: 1em 0.5em;
	border-bottom: 1px solid #EEE9F0;
	cursor: pointer;
}

ul.todo li:last-child {
	border-bottom: none;
}

div.recent_orders>table,  div.top_products>table{
	width: 100% !important;
}

.top_product_photo_wrap {
	width: 120px;
	height: 100px;
	padding: 0.5em;
	background-color: #EDEDED;
	position: relative;
}

.top_product_photo_wrap img {
	object-position: center;
	object-fit: contain;
}

div.top_products>table td img {
	max-width: 100%;
	max-height: 100%;
}

div.recent_orders>table th {
	text-align: left;
	font-weight: 300;
	border-bottom: 2px solid #EEE9F0;
}

div.recent_orders>table th {
	padding: 5px;
}

div.recent_orders>table td, div.top_products>table td {
	padding: 8px 5px;
	border-bottom: 1px solid #EEE9F0;
}

div.recent_orders>table tr:last-child td, div.top_products>table tr:last-child td {
	border-bottom: none;
}

div.recent_orders>table tr:hover {
	font-weight: 600;
}

ul.todo li:first-child {
	padding-top: 0;
}

div.order_status {
	padding: 0.5rem;
	border-radius: 5px;
	-moz-border-radius: 5px;
	width: fit-content;
}

div.order_status.awaiting_processing, div.order_status.awaiting_payment, div.order_status.cancelled {
	color: #FF1620;
	background: #FFD7D9;
}

div.order_status.processing_order, div.order_status.refunded  {
	color: #FFB300;
	background: #FDE5AF;
}

div.order_status.awaiting_delivery {
	color: #6E3BFF;
	background: #D1C2FE;
}

div.order_status.dispatched {
	color: #3B86FF;
	background: #BCD3F8;
}

div.order_status.delivered, div.order_status.paid {
	color: #2A875C;
	background: #CCF7E5;
}

.body-content .about{
	
	padding-right:20px;
}

.step-ribbon {
	background: url(../../assets/images/transparent_bg.png) center center;
	border-top: solid 1px #D6D6D6;
	border-bottom: solid 1px #D6D6D6;
}

.step-ribbon > td {
	padding: 6px 15px;
}

.step-ribbon table > tbody > tr > td {
	padding-left: 30px;
	padding-right: 30px;
	border-right: 1px solid #CCC;
}
.step-ribbon table > tbody > tr > td:first-child {
	padding-left: 0px;
}
.step-ribbon table > tbody > tr > td:last-child {
	border-right: 0px;
}
.step-ribbon table > tbody > tr > td.active {
	color: #010066;
}





.normal-table.two-columns {
	width: 100%;
}

.normal-table.two-columns td {
	text-align: left;
}

.normal-table.two-columns input[type=text]:not(.drop-down), .normal-table.two-columns textarea {
	width: calc(100% - 20px);
}

.normal-table.two-columns select, .normal-table.two-columns input.drop-down {
	width: calc(100% - 32px);
}







.drop-down-div {
	overflow-y: auto;
	overflow-x: hidden;
	position: absolute;
	max-height: 200px;
	max-width: 200px;
	background-color: #FFF;
	border: 1px solid #DDD;
	z-index: 10001;
}


.drop-down-div div {
	padding:5px;
	border-bottom: 1px solid #DDD;
	text-align:left;
	cursor: pointer;
	width:100%;
	font-size:15px;
}

.drop-down-div div:last-child {
	border-bottom: 0;
}


.drop-down-div div.delete-icon {
	background: url(../../assets/images/remove_icon.png) no-repeat calc(100% - 5px) center;
}




















/* CSS for small screens */
@media only screen and (max-width:900px){

.two-columns.multiple > div {
	width: calc(100% - 20px) !important;
	margin-right: 10px;
	margin-left: 10px;
	margin-top: 20px;
}

.row-divs.small-padding > div  {
	padding: 6px 15px;
	margin: 5px;
}

}















/* CSS for smaller screens */
@media only screen and (max-width:700px){
.body-table > tr > td:first-child, .body-table > tr > td:last-child {
	width:0px !important;
}

.h1, .h1 > a {
	font-size: 26px;
}

.h2, .h2 > a {
	font-size: 22px;
	font-weight: 700;
}

.h3, .h3 > a {
	font-size: 12px;
}


.row-divs > div, .top-divs > div:not(.active) {
	display: block;
	width: 100% !important;
}

.right-div, .content-div {
	width: calc(100% - 30px) !important;
	float: left;
}

.right-div, .left-div {
	text-align:left;
}

.three-columns > div {
	width: 100% !important;
	margin: 0px !important;
}

.summary-table {
	width: 100%;
	min-width: 100%;
}

.white-link-divs > div {
	border-right: 0px !important;
}

.align-right {
	text-align: left;
}


	
.show-on-small-screen {
	display:block;
}
.hide-on-small-screen {
	display:none;
}

.row-divs.small-padding > div  {
	padding: 6px 15px;
	margin: 5px;
}

}


















/* CSS for mobile screens */
@media only screen and (max-width:400px){
	
.show-on-mobile {
	display:block;
}
.hide-on-mobile {
	display:none;
}

.two-fields > div {
	display: block !important;
	vertical-align: top !important;
	width: calc(100% - 40px) !important;
	margin-top: 15px;
	margin-left:0px;
	margin-right: 0px;
}

.row-divs.small-padding > div  {
	padding: 6px 15px;
	margin: 5px;
}
	
}










