/* ---- Global styles ---------*/
a,
.btn,
button,
span,
p,
input,
select,
textarea,
li,
img,
*::after,
*::before,
h1,
h2,
h3,
h4,
h5,
h6 {
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}
a:focus,
.button:focus {
  text-decoration: none;
  outline: none;
}
a:focus,
a:hover {
  color: inherit;
  text-decoration: none;
}
a,
button {
  color: inherit;
  outline: none;
  border: none;
  text-decoration: none;
}
button:hover {
  cursor: pointer;
}
button:focus {
  outline: 0;
  border: 0;
}
::selection,
::-moz-selection,
*::-moz-selection {
  background: #0B52A4;
  color: #ffffff;
  text-shadow: none;
}
.section-pad{
    padding: 30px 0;
}
.page-wraper{
    background-color: #fafafa;
}
.bg-gray{
    background-color: #efefef;
}
/* ---- Header ---------*/
.top-bar{
    padding: 7px 0;
    background-color:#221B62;
    color: #fff;
    font-size: 12px;
}
.top-bar ul{
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
}
.topbar-right, .topbar-left{
    display: flex;
}
.topbar-right{
    justify-content: flex-end;
}
.topbar-right a {
	color: #fff;
	text-decoration: none;
	margin-left: 25px;
}
.topbar-left span {
	font-weight: bold;
	margin: 0 30px 0 10px;
}
.search-form input, .search-form button, .search-form i{
    font-size: 12px;
}
.search-form button{
    background-color:#221B62;
    border: 0;
}
.menu-wrap{
    background-color: #fff;
}
.navbar-expand-lg .navbar-nav {
    float: right;
}
.nav-item .nav-link{
    color: #221B62;
    font-weight: bold;
    font-size: 16px;
    margin-left: 20px;
}
.nav-link .cart-count {
    background-color: #d60000;
    color: #fff;
    font-size: 12px;
    border-radius: 50%;
    height: 15px;
    width: 15px;
    position: absolute;
    text-align: center;
}

/*---- Page title section ----*/
.breadcrumb{
    padding-left: 0;
    font-size: 13px;
    display: flex;
    flex-direction: row;
    column-gap: 10px;
    margin-bottom: 10px;
}
.breadcrumb li::after{
    content: '\eaca';
	font-family: 'IcoFont';
	font-weight: 400;
	font-style: normal;
	margin-left: 5px;
	margin-top: 2px;
}
.breadcrumb li:last-child::after{
    display: none;
}
.page-title{
    padding: 20px 0 1px 0;
}
.page-title h1{
    color: #221B62;
    font-size: 32px;
    font-weight: bold;
}
.page-title h1 span {
	font-size: 13px;
	font-weight: normal;
	float: right;
}

/*---- banner Section ----*/
.banner-wrap{
    position: relative;
}
.banner-wrap img {
	width: 100%;
	border-radius: 8px;
	height: 200px;
	object-fit: cover;
	object-position: center;
}
.banner-content{
    position: absolute;
    padding: 10px 10px 10px 30px;
    top: 40%;
    opacity: 0.9;
}

.banner-content.bg-color-1 {
    background-color: #41D3C6;
}

.banner-content.bg-color-3 {
    background-color: #EC8F9A;
}

.banner-content.bg-color-2 {
    background-color: #F4F4F4;
}

.banner-content .banner-desc{
    color: #fff;
    font-size: 16px;
    text-transform: capitalize;
}
.banner-content .banner-title{
    font-size: 21px;
    color: #221B62;
    font-weight: bold;
    text-transform: capitalize;
}
.banner-content .banner-btn{
    background-color: #221B62;
    padding: 5px 10px;
    font-size: 12px;
    border-radius: 8px;
    font-weight: bold;
    text-transform: capitalize;
}
.banner-btn a{
    color: #fff;
}


/* ---- Category Sections -----*/
.section-title{
    display: flex;
    justify-content:space-between;
    margin-bottom: 30px;
}
.section-title h2{
    font-size: 21px;
    color: #221B62;
    font-weight: bold;
}
.section-title h2 span{
    display: block;
    font-size: 12px;
    color: #1F1F1F;
}
.section-title a{
    color: #6e6e6e;
    font-size: 16px;
    display: inline-flex;
    align-self: center;
}
.section-title a::after {
	content: '\eaca';
	font-family: 'IcoFont';
	font-weight: 400;
	font-style: normal;
	margin-left: 5px;
	margin-top: 2px;
}
.product-box{
    font-size: 13px;
    color: #6e6e6e;
}
.product-box img {
	background-color: #ededed;
	border-radius: 8px;
	width: 100%;
	height: 160px;
	padding: 10px;
	margin-bottom: 20px;
	object-fit: contain;
	object-position: center;
}
.product-box .product-price{
    font-size: 16px;
    color: #0B52A4;
    text-transform: uppercase;
    font-weight: bold;
}
.product-title span{
    display: block;
}

/*---- Category page -----*/
.category-list{
    padding-left: 0;
    padding-right: 30px;
}
.category-list, .sub-cat{
    list-style: none;
    color: #221B62;
}
.category-list li{
    font-size: 14px;
    justify-content: space-between;
    margin-bottom: 10px;
    text-transform: capitalize;
}
.category-list span{
    float: right;
}
.has-subcat{
    font-weight: bold;
}
.sub-cat{
    font-weight: normal;
}

/*---- Single product page ----*/
.product-summary .product-img {
	border-radius: 8px;
	background-color: #ededed;
	padding: 30px;
}
.product-summary .product-title {
	font-size: 32px;
	font-weight: bold;
	margin-bottom: 10px;
    color: #221b62;
}
.product-summary .product-price{
    color: #0B52A4;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 15px;
    margin-bottom: 20px;
}
.product-summary .product-price span{
    font-size: 15px;
    text-transform: none;
    margin-left: 10px;
    font-weight: normal;
}
.product-summary .product-price span::before{
    content: '\eed7';
	font-family: 'IcoFont';
	font-weight: 400;
	font-style: normal;
	margin-right: 5px;
}
.product-summary .product-price span.available{
    color: #0BA41D;
}
.product-summary .product-content{
    color: #221B62;
    font-size: 15px;
    line-height: 1.9;
}
.product-content ul,
.product-attributes {
    list-style: none;
    color: #221B62;
    padding-left: 0;
    font-weight: bold;
}

.product-content ul li:before ,
.product-attributes li:before{
    content: '\eed6';
	font-family: 'IcoFont';
	font-weight: 400;
	font-style: normal;
	margin-right: 5px;
    font-size: 20px;
}
.product-quantity {
	font-weight: bold;
	display: flex;
	flex-direction: row;
	column-gap: 10px;
    margin-bottom: 40px;
}
.qtybutton {
	background-color: #221b62;
	border-radius: 50%;
	color: #fff;
	width: 20px;
	height: 10px;
	text-align: center;
	align-self: center;
	font-size: 13px;
	padding-bottom: 20px;
	font-weight: normal;
	display: block;
}
.product-quantity input {
    height: 40px;
    width: 40px;
    border: none;
    text-align: center;
    background-color: #ededed;
    border-radius: 8px;
}
.checkout-btn{
    display: flex;
    flex-direction: row;
    column-gap: 15px;
}
.checkout-btn button{
    height: 40px;
    width: 188px;
    border-radius: 8px;
    font-size: 13px;
    font-weight: bold;
    color: #fff;
    background-color: #221b62;
}
.add-to-cart a::before{
    content: '\efe7';
	font-family: 'IcoFont';
	font-weight: 400;
	font-style: normal;
	margin-right: 5px;
}
.modal.show .modal-dialog {
	transform: none;
	height: 100%;
}

.checkout-modal .modal-dialog {
	max-width: 400px;
	margin: 0  0 0  auto ;
}
.checkout-modal #checkout-modal{
    padding: 0 !important;
}
.checkout-modal .modal-header .btn-close {
	padding: .5rem .5rem 0 0;
	margin: 0;
}
.checkout-modal .modal-content{
    border: 0;
    border-radius: 0;
    padding: 30px 20px;
    height: 100%;
}
.checkout-modal .modal-header {
	display: flex;
	flex-shrink: 0;
	align-items: center;
	justify-content: space-between;
	padding: 1rem 1rem;
	border-bottom: 0;
	border-radius: 0;
}
.checkout-modal h2{
    font-size: 32px;
    font-weight: bold;
    color: #221B62;
}
.checkout-modal .product-box img{
    height: auto;
}
.checkout-modal .product-title{
    color: #6e6e6e;
    font-size: 14px;
}
.checkout-modal .product-price{
    color: #0B52A4;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
}
.checkout-modal .remove{
    color: #d60000;
}
.checkout-modal .modal-footer{
    display: block;
}
.modal-footer .total{
    color: #221b62;
    font-weight: bold;
    font-size: 13px;
    margin-bottom: 30px;
}
.modal-footer .total span{
    text-transform: uppercase;
    font-size: 16px;
}
.modal-footer .checkout-btn {
	border-radius: 8px;
	height: 46px;
	width: 100%;
	display: block;
	background-color: #221b62;
	color: #fff;
	font-weight: bold;
	font-size: 17px;
}
.sidebar .sidebar-title{
    color: #221b62;
    font-size: 16px;
    margin-bottom: 20px;
    font-weight: bold;
}
/* ---- Cart page ----*/
.shop-cart .product-box img {
	width: 100%;
	height: auto;
	margin-bottom: 0;
}
.shop-cart .product-title{
    color: #6e6e6e;
    font-size: 14px;
}
.shop-cart .product-price{
    color: #0B52A4;
    font-size: 16px;
    font-weight: bold;
}
.shop-cart .product-quantity {
	margin-bottom: 0;
}
.shop-cart .product-quantity input{    
	font-weight: bold;
}
.order-summary {
	background-color: #fff;
	padding: 30px 20px;
	border-radius: 8px;
}
.order-summary ul{
    padding-left: 0;
    list-style: none;
    color: #221B62;
    font-size: 14px;
}
.order-summary span{
    float: right;
    color: #0B52A4;
    text-transform: capitalize;
}
.order-summary li.total{
    margin-top: 30px;
}
.order-summary .total span{
    font-size: 16px;
}
.shop-cart-btn, .form-btn{
    display: flex;
    flex-direction: row;
    column-gap: 15px;
    justify-content: end;
    margin-top: 20px;
}
.shop-cart-btn button, .form-btn button{
    height: 40px;
    width: 240px;
    border-radius: 8px;
    font-size: 13px;
    font-weight: bold;
}
.shop-cart-btn .continue-shop-btn, .form-btn .cancel-btn{
    background-color: #fff;
    color: #221b62;
}
.shop-cart-btn .confirm-btn, .form-btn .submit-btn{
    background-color: #221b62;
    color: #fff;
}
/*---- Order confirmed page ----*/
.page-title.confirmed {
    background-color: #0BA41D;
    color: #fff;
}
.page-title.page-title.confirmed h1{
    color: #fff;
}
.page-title.page-title.confirmed h1::before{
    content: '\eed7';
	font-family: 'IcoFont';
	font-weight: 400;
	font-style: normal;
	margin-right: 5px;
}
.order-details h3{
    color: #221b62;
    font-size: 16px;
    font-weight: bold;
}
.order-details p{
    color: #221b62;
}
/*---- Prescription page ----*/
label{
    font-weight: bold;
    color: #221b62;
    font-size: 16px;
}
.prescription-form input{
    border: 0;
}
.prescription-form .form-select{
    font-size: 13px;
    color: #221b62;
    opacity: .5;
    border: 0;
}
.custom-file {
    border: 1px solid #0BA41D;
    height: 100px;
    border-radius: 8px;
    padding: 20px;
    font-weight: bold;
}
.custom-file-input{
    display: none;
}
.custom-file-label{
    color: #0BA41D !important;
    width: 100%;
}
.custom-file-label i{
    float: right;
}

.input-group>.input-group-prepend {
    flex: 0 0 10%;
}
.input-group .input-group-text {
    width: 100%;
}

.momo_pay img {
    width: 70px;
    height: auto;
}

.error {
	padding:5px;
	font-weight:bold;	 
	background-color: #FFE79B;
	text-align:left;
	color: #FF0000;
}

.message{
	padding:5px;
	font-weight:bold;	 
	background-color: #FFE79B;
	text-align:left;
	color:#009933;
}


.pagemessage {
	font-family: Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif;
    -webkit-font-smoothing: antialiased;
	padding:10px 30px 10px 30px;
	font-size: 15px;
    color:#000;
	font-weight:bold;
	-webkit-box-shadow: 0px 2px 8px #999;
	-moz-box-shadow: 0px 2px 8px #999;
	box-shadow: 0px 2px 8px #999; 
	position: fixed;
	top: 0px;
	border-radius: 0px 0px 5px 5px;
	-moz-border-radius: 0px 0px 5px 5px;
	background-color: #FFE79B;
	max-width: 70%;
	text-align:center;
	z-index: 1500;
	left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
	display:none;
}

.pagemessage table td {
	font-family: Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif;
    -webkit-font-smoothing: antialiased;
	font-size: 15px;
	text-align:center;
	
}

#btn-search-catalog { background: #221b62 !important; border-color: #221b62; }

#search-catalog:focus { border: none !important; }

#search-results {
    position: absolute;
    height: auto;
    z-index: 1000;
    padding: 0 !important;
    display: none;
}

#search-results li {
    cursor: pointer;
}

#search-results li:hover {
    background-color: #EFEFEF;
}

.out_of_stock {
    right: 5%;
    top: 3%;
    background: #FD7474;
    color: white;
    font-weight: bold
}


.loader-demo-box {
    width: 100%;
    height: auto;
}

.jumping-dots-loader {
    width: 100px;
    height: 100px;
    border-radius: 100%;
    position: relative;
    margin: 0 auto
}

.jumping-dots-loader span {
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    background-color: #221B62;
    margin: 35px 5px
}

.jumping-dots-loader span:nth-child(1) {
    animation: bounce 1s ease-in-out infinite
}

.jumping-dots-loader span:nth-child(2) {
    animation: bounce 1s ease-in-out 0.33s infinite
}

.jumping-dots-loader span:nth-child(3) {
    animation: bounce 1s ease-in-out 0.66s infinite
}

@keyframes bounce {

    0%,
    75%,
    100% {
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
        transform: translateY(0)
    }

    25% {
        -webkit-transform: translateY(-20px);
        -ms-transform: translateY(-20px);
        -o-transform: translateY(-20px);
        transform: translateY(-20px)
    }
}


/*------------------------------------*\
    RESPONSIVE
\*------------------------------------*/

@media screen and (max-width: 686px) {
    .top-bar {
        padding: 7px 10px;;
    }
    .topbar-left span {
        margin: 0 0px 0 10px;
    }
	.topbar-right {
        justify-content: flex-start;
        margin-top: 10px;
    }
    .topbar-right a {
        margin-left: 0;
		margin-right: 10px;
        font-size: 12px;
    }
    .navbar-nav {
        flex-direction: row;
		flex-wrap: wrap;
    }
	.nav-item.search-form{
        width: 100%;
     }
    .nav-link i{
        font-size: 20px;
    }
    .page-title h1{
        font-size: 25px;
    }
    .single-product .page-title h1{
        display: none;
    }
    .breadcrumb li{
        display: none;
    }
    .breadcrumb li:last-child{
        display: inline;
        font-size: 16px;
    }
    .breadcrumb li:last-child::before{
        content: '\eac9';
        font-family: 'IcoFont';
        font-weight: 400;
        font-style: normal;
        margin-right: 5px;
        display: inline !important;
    }
    .product-summary .product-title {
        font-size: 25px;
    } 
    .product-summary .product-price {
        font-size: 18px;
    }
    .sidebar.order-summary{
        margin-top: 70px;
    }
    .product-desc{
        margin-top: 10px;
    }
    .checkout-btn, .form-btn{
        flex-wrap: wrap;
    }
    .shop-cart-page .page-title h1 span {
        display: none;
    }
    .shop-cart-btn{
        flex-wrap: wrap-reverse;
    }
    .continue-shop-btn, .canel-btn{
        box-shadow: 2px 2px 2px 2px #0000001f;
    }
    .checkout-btn button, .shop-cart-btn button, .form-btn button{
        height: 40px;
        width: 100%;
        margin-bottom: 10px;
    }
    .cancel {
        text-align: center;
        font-size: 12px;
        color: #221b62;
    }
    .shop-cart-page .breadcrumb{
        display: none;
    }
    .order-details{
        margin: -55px 15px 0 15px;
    }
    .page-title.confirmed, .page-title.info {
        padding-bottom: 40px;
    }
    .more-items .section-title a{
        display: none;
    }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
	.nav-item .nav-link {
    	font-size: 14px;
        margin-left: 10px;
    }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait){
	.navbar-nav {
        flex-direction: row
    }
    .nav-item .nav-link {
        font-size: 10px;
        margin-left: 10px;
    }
    .nav-link .cart-count {
        font-size: 10px;
    }
    .shop-cart-btn{
        justify-content: center;
    }
    .page-title h1 span {
        display: none;
    }
    .cancel {
        text-align: center;
        margin-top: 30px;
    }
}

